.SearchBar {
  border-radius: 2em;
  margin: 1em;
  padding: .5em;
  padding-left: 19em;
  font-size: 1.3em;
}

.buttons {
  font-family: monospace;
  display: inline-block;
  border-radius: 10rem;
  color: #000;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-image: linear-gradient(to bottom, #ff736d, #ff8763, #ff9b5c, #ffb059, #ffc55b);
}

.box {
  background-color: rgba(255, 255, 255, 0.64);
  border: 1px solid black;
  padding: 20px;
  width: 650px;
  border-radius: 0.8em;
  display: flex;
  flex-direction: column; /* Cambia la dirección de la caja a columnas */
  align-items: center; /* Centra los elementos horizontalmente */
  margin-bottom: 10px;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Cambia 'height' a 'min-height' para que el contenedor ocupe al menos el 100% de la altura de la ventana */
  background-image: url("./ws_Games_2013_1920x1200.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

input[type="search"] {
  border-radius: 2em;
  margin: 1em;
  padding: .5em 5em; /* Ajusta el valor del padding según tus necesidades */
  font-size: 1.3em;
  text-align: center;
}

.image {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: auto; /* Ajusta la altura de la imagen automáticamente */
  object-fit: cover; /* Ajusta el tamaño de la imagen sin distorsión */
  border-radius: 0.8em;
  margin-bottom: 10px;
}